@mixin styles {
  /* Framework color */
  --main-bg: white;
  --mask-bg: #c1c3c5;
  --main-border-color: #f3f3f3;

  /* Common color */
  --text-color: #34343c;
  --text-muted-color: #757575;
  --text-muted-highlight-color: inherit;
  --heading-color: #2a2a2a;
  --label-color: #585858;
  --blockquote-border-color: #E6E0FF;
  --blockquote-text-color: #757575;
  --link-color: #9370DB;
  --link-underline-color: #E6E0FF;
  --button-bg: #ffffff;
  --btn-border-color: #E6E0FF;
  --btn-backtotop-color: #9370DB;
  --btn-backtotop-border-color: #F5F0FF;
  --checkbox-color: #c5c5c5;
  --checkbox-checked-color: #9370DB;
  --img-bg: radial-gradient(
    circle,
    rgb(255, 255, 255) 0%,
    rgb(239, 239, 239) 100%
  );
  --shimmer-bg: linear-gradient(
    90deg,
    rgba(250, 250, 250, 0) 0%,
    rgba(232, 230, 230, 1) 50%,
    rgba(250, 250, 250, 0) 100%
  );

  /* Sidebar */
  --site-title-color: #9370DB;
  --site-subtitle-color: #9F7BE3;
  --sidebar-bg: #F5F0FF;
  --sidebar-border-color: #E6E0FF;
  --sidebar-muted-color: #7667BB;
  --sidebar-active-color: #7B68EE;
  --sidebar-hover-bg: rgba(147, 112, 219, 0.15);
  --sidebar-btn-bg: white;
  --sidebar-btn-color: #9370DB;
  --avatar-border-color: #E6E0FF;

  /* Topbar */
  --topbar-bg: rgb(255, 255, 255, 0.7);
  --topbar-text-color: #7667BB;
  --search-border-color: #E6E0FF;
  --search-icon-color: #9370DB;
  --input-focus-border-color: #9370DB;

  /* Home page */
  --post-list-text-color: #7667BB;
  --btn-patinator-text-color: #9370DB;
  --btn-paginator-hover-color: var(--sidebar-bg);

  /* Posts */
  --toc-highlight: #7B68EE;
  --toc-popup-border-color: #E6E0FF;
  --btn-share-color: #9370DB;
  --btn-share-hover-color: #7B68EE;
  --card-bg: white;
  --card-hovor-bg: #F5F0FF;
  --card-shadow: rgba(147, 112, 219, 0.1) 0 2px 6px 0,
    rgba(147, 112, 219, 0.08) 0 0 0 1px;
  --footnote-target-bg: lightcyan;
  --tb-odd-bg: #fbfcfd;
  --tb-border-color: #eaeaea;
  --dash-color: silver;
  --kbd-wrap-color: #bdbdbd;
  --kbd-text-color: var(--text-color);
  --kbd-bg-color: white;
  --prompt-text-color: rgb(46, 46, 46, 0.77);
  --prompt-tip-bg: #F5F0FF;
  --prompt-tip-icon-color: #9370DB;
  --prompt-info-bg: #e6f3ff;
  --prompt-info-icon-color: #0075d1;
  --prompt-warning-bg: #fff8e6;
  --prompt-warning-icon-color: #e8950c;
  --prompt-danger-bg: #ffe6e6;
  --prompt-danger-icon-color: #d9534f;

  /* Tags */
  --tag-border: #E6E0FF;
  --tag-shadow: var(--btn-border-color);
  --tag-hover: #E6E0FF;
  --search-tag-bg: #F5F0FF;

  /* Categories */
  --categories-border: #E6E0FF;
  --categories-hover-bg: var(--btn-border-color);
  --categories-icon-hover-color: #7B68EE;

  /* Archive */
  --timeline-color: rgba(147, 112, 219, 0.1);
  --timeline-node-bg: #9370DB;
  --timeline-year-dot-color: #ffffff;

  /* --- Custom code light mode colors --- */
  --language-border-color: #E6E0FF;
  --highlight-bg-color: #F5F0FF;
  --highlighter-rouge-color: #7667BB;
  --highlight-lineno-color: #9F7BE3;
  --inline-code-bg: rgba(147, 112, 219, 0.05);
  --code-color: #3a3a3a;
  --code-header-text-color: #7667BB;
  --code-header-muted-color: #E6E0FF;
  --code-header-icon-color: #9F7BE3;
  --clipboard-checked-color: #43c743;

  [class^='prompt-'] {
    --link-underline-color: #E6E0FF;
  }

  .dark {
    display: none;
  }

  /* --- Syntax highlight theme from `rougify style github` --- */

  .highlight table td {
    padding: 5px;
  }

  .highlight table pre {
    margin: 0;
  }

  .highlight,
  .highlight .w {
    color: #24292f;
    background-color: #f6f8fa;
  }

  .highlight .k,
  .highlight .kd,
  .highlight .kn,
  .highlight .kp,
  .highlight .kr,
  .highlight .kt,
  .highlight .kv {
    color: #cf222e;
  }

  .highlight .gr {
    color: #f6f8fa;
  }

  .highlight .gd {
    color: #82071e;
    background-color: #ffebe9;
  }

  .highlight .nb {
    color: #953800;
  }

  .highlight .nc {
    color: #953800;
  }

  .highlight .no {
    color: #953800;
  }

  .highlight .nn {
    color: #953800;
  }

  .highlight .sr {
    color: #116329;
  }

  .highlight .na {
    color: #116329;
  }

  .highlight .nt {
    color: #116329;
  }

  .highlight .gi {
    color: #116329;
    background-color: #dafbe1;
  }

  .highlight .kc {
    color: #0550ae;
  }

  .highlight .l,
  .highlight .ld,
  .highlight .m,
  .highlight .mb,
  .highlight .mf,
  .highlight .mh,
  .highlight .mi,
  .highlight .il,
  .highlight .mo,
  .highlight .mx {
    color: #0550ae;
  }

  .highlight .sb {
    color: #0550ae;
  }

  .highlight .bp {
    color: #0550ae;
  }

  .highlight .ne {
    color: #0550ae;
  }

  .highlight .nl {
    color: #0550ae;
  }

  .highlight .py {
    color: #0550ae;
  }

  .highlight .nv,
  .highlight .vc,
  .highlight .vg,
  .highlight .vi,
  .highlight .vm {
    color: #0550ae;
  }

  .highlight .o,
  .highlight .ow {
    color: #0550ae;
  }

  .highlight .gh {
    color: #0550ae;
    font-weight: bold;
  }

  .highlight .gu {
    color: #0550ae;
    font-weight: bold;
  }

  .highlight .s,
  .highlight .sa,
  .highlight .sc,
  .highlight .dl,
  .highlight .sd,
  .highlight .s2,
  .highlight .se,
  .highlight .sh,
  .highlight .sx,
  .highlight .s1,
  .highlight .ss {
    color: #0a3069;
  }

  .highlight .nd {
    color: #8250df;
  }

  .highlight .nf,
  .highlight .fm {
    color: #8250df;
  }

  .highlight .err {
    color: #f6f8fa;
    background-color: #82071e;
  }

  .highlight .c,
  .highlight .ch,
  .highlight .cd,
  .highlight .cm,
  .highlight .cp,
  .highlight .cpf,
  .highlight .c1,
  .highlight .cs {
    color: #68717a;
  }

  .highlight .gl {
    color: #68717a;
  }

  .highlight .gt {
    color: #68717a;
  }

  .highlight .ni {
    color: #24292f;
  }

  .highlight .si {
    color: #24292f;
  }

  .highlight .ge {
    color: #24292f;
    font-style: italic;
  }

  .highlight .gs {
    color: #24292f;
    font-weight: bold;
  }
}
